# dependencies
node_modules/

# environment variables
.env
.env.local
.env.*

# build output
dist/
build/
.next/
out/

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
